* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: #3f3f3f;
}
h1 {
  font-size: 32px;
  color: #3f3f3f;
}
h2 {
  font-size: 24px;
  color: #3f3f3f;
}
body {
  color: #3f3f3f;
}
